.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* animation: animate 25s linear infinite; */
  animation: animate 35s linear infinite;

  bottom: -150px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.circles li:nth-child(0) {
  left: 11%;
  width: 55px;
  height: 55px;
  bottom: -55px;
  animation-delay: 1s;
}
.circles li:nth-child(1) {
  left: 44%;
  width: 90px;
  height: 90px;
  bottom: -90px;
  animation-delay: 1s;
}
.circles li:nth-child(2) {
  left: 50%;
  width: 17px;
  height: 17px;
  bottom: -17px;
  animation-delay: 9s;
}
.circles li:nth-child(3) {
  left: 29%;
  width: 49px;
  height: 49px;
  bottom: -49px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 5%;
  width: 2px;
  height: 2px;
  bottom: -2px;
  animation-delay: 5s;
}
.circles li:nth-child(5) {
  left: 7%;
  width: 26px;
  height: 26px;
  bottom: -26px;
  animation-delay: 13s;
}
.circles li:nth-child(6) {
  left: 6%;
  width: 43px;
  height: 43px;
  bottom: -43px;
  animation-delay: 20s;
}
.circles li:nth-child(7) {
  left: 41%;
  width: 12px;
  height: 12px;
  bottom: -12px;
  animation-delay: 18s;
}
.circles li:nth-child(8) {
  left: 54%;
  width: 62px;
  height: 62px;
  bottom: -62px;
  animation-delay: 32s;
}
.circles li:nth-child(9) {
  left: 83%;
  width: 4px;
  height: 4px;
  bottom: -4px;
  animation-delay: 16s;
}
.circles li:nth-child(10) {
  left: 66%;
  width: 75px;
  height: 75px;
  bottom: -75px;
  animation-delay: 42s;
}
.circles li:nth-child(11) {
  left: 15%;
  width: 5px;
  height: 5px;
  bottom: -5px;
  animation-delay: 2s;
}
.circles li:nth-child(12) {
  left: 87%;
  width: 58px;
  height: 58px;
  bottom: -58px;
  animation-delay: 48s;
}
.circles li:nth-child(13) {
  left: 89%;
  width: 43px;
  height: 43px;
  bottom: -43px;
  animation-delay: 27s;
}
