.container {
  width: 40%;
  margin-top: auto;
  padding-bottom: 1em;
  text-align: center;
}

.container div {
  font-size: 1.8em;
  backdrop-filter: blur(100px);
  width: fit-content;
  margin: 0 auto;
  display: none;
  padding: 0.4em 0.7em;
  border-radius: 12px;
  border: 2px solid white;
}
@media screen and (max-width: 850px) {
  .container {
    height: 3em;
    width: 100%;
    padding-top: 0.5em;
    margin-bottom: 1em;
  }
  .container div {
    padding: 0.2em 0.35em;
  }
}
