.videoResponsive {
  position: fixed;
  top: -60px;
  bottom: -60px;
  right: -5px;
  left: -5px;
  pointer-events: none;
}

.videoResponsive iframe {
  pointer-events: none;
  height: 100%;
  width: 100%;
}
.backgroundColor {
  background-color: rgba(0, 0, 0, 0.562);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
