.backgroundImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.backgroundImgs {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  gap: 0.65%;
  max-width: 100vw;
}
.backgroundImgs > img {
  margin: auto;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.backgroundColor {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
}
