.barContainer {
  position: fixed;
  top: 15vh;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: white;
  width: 4px;
  z-index: 1;
  border-radius: 100px;

  display: flex;
  flex-direction: column;
  padding: 1rem 0 3rem 0;
  justify-content: space-between;
}
.barContainer a {
  z-index: 2;
  overflow: visible;
  padding: 0.4rem;
  width: 45px;
  height: 45px;
  backdrop-filter: blur(40px);
  border-radius: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}
.barContainer a:hover {
  transform: scale(1.1);
}
.contactMe {
  transform: translateX(-13px) rotate(270deg);
  font-weight: 900;
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
  backdrop-filter: blur(1px);
  width: 120px;
  margin-top: 2.5rem;
  text-shadow: 1px 1px 2px #474747;
}
.copied {
  font-weight: 900;
  font-size: 1rem;
  color: black;
  animation: fadeInOut 1.5s ease-in-out;
  position: absolute;
  left: 0.7rem;
  top: 9vh;
  padding: 0.2rem 0.4rem;
  border-radius: 100px;
  color: white;
  backdrop-filter: blur(2px);
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
