.barContainer {
  position: fixed;
  top: 15vh;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: white;
  width: 4px;
  z-index: 1;
  border-radius: 100px;

  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  justify-content: space-between;
}
.barContainer a {
  z-index: 2;
  overflow: visible;
  padding: 0.4rem;
  width: 45px;
  height: 45px;
  backdrop-filter: blur(40px);
  border-radius: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}
.barContainer a:hover,
:focus {
  transform: scale(1.03);
}
