.barContainer {
  position: fixed;
  top: 15vh;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 10px;
  border-right: 4px solid white;
  border-radius: 0 12px 12px 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1.4rem 0 3rem 0;
  justify-content: space-between;
}
.barContainer a {
  transform: translateX(5px);

  z-index: 2;
  overflow: visible;
  padding: 0.4rem;
  width: 45px;
  height: 45px;
  backdrop-filter: blur(40px);
  border-radius: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}
.barContainer a:hover {
  transform: scale(1.1) translateX(4px);
}

.contactMe {
  transform: translateX(-7px) rotate(270deg);
  font-weight: 900;
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
  backdrop-filter: blur(1px);
  width: 120px;
  margin-top: 2.5rem;
  text-shadow: 1px 1px 2px #474747;
  margin-bottom: 11px;
}
.copied {
  font-weight: 900;
  font-size: 1rem;
  color: black;
  animation: fadeInOut 1.5s ease-in-out;
  position: absolute;
  left: 0.7rem;
  top: 9vh;
  padding: 0.2rem 0.4rem;
  border-radius: 100px;
  color: white;
  backdrop-filter: blur(2px);
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  .barContainer {
    bottom: 0px;
    top: unset;
    left: 1.5dvw;
    width: 97dvw;
    height: 10px;
    flex-direction: row-reverse;
    border-right: unset;
    border-top: 4px solid white;
    border-radius: 12px 12px 0 0;
    justify-content: space-evenly;
    padding: 0 0 2rem 0;
  }
  .barContainer a {
    transform: translateY(-5px);
    backdrop-filter: blur(100px);
    box-shadow: 1px 1px 8px black;
  }
  .contactMe {
    display: none;
  }
}
