.detailsContainer {
  margin: 20px auto 0 auto;
  backdrop-filter: blur(10px);
  border: 2px solid white;
  border-radius: 11px;
  color: white;
  animation: dimension 1s ease-in-out alternate;
  padding-top: 7rem;
  gap: 3rem;
  padding: 3em;
  text-align: left;
  max-width: 97vw;
}

.textContainer {
  display: flex;
  /* max-width: 50%; */
  flex-direction: column;
  /* gap: -600px; */
}
.textContainer > div {
  align-items: flex-end;
  gap: 0.3em;
  font-size: 2rem;
}
.textContainer p {
  padding-bottom: 0.2em;
}
.textContainer > div:last-child {
  display: flex;
  gap: 0.5em;
}
.textContainer h2 {
  font-size: 2.3rem;
  padding-bottom: 0.28em;
}

.welcome {
  display: flex;
  align-items: center;
  height: 80vh;
}
.welcome div {
  background: radial-gradient(
    ellipse at bottom,
    #fff,
    transparent,
    transparent
  );
  background-position: 50% 100%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  font-family: "Playfair Display", serif;
  animation: reveal 2000ms ease-in-out forwards 200ms,
    glow 2000ms linear infinite 2000ms;

  transition: opacity 1s ease-out 2s;
}
.welcome.hidden div {
  opacity: 0;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes dimension {
  0% {
    transform: rotateX(-90deg);
  }
}

@media screen and (max-width: 1024px) {
  .textContainer {
    text-align: center;
  }
  .textContainer > div {
    align-items: flex-start;
  }
  .textContainer > div:last-child h1 {
    display: none;
  }
}
