.detailsContainer {
  backdrop-filter: blur(10px);
  border: 2px solid white;
  border-radius: 11px;
  color: white;
  animation: dimension 1s ease-in-out alternate;
  padding-top: 7rem;
  gap: 3rem;
  padding: 3em;
  text-align: left;
  max-width: 90vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
}
.textContainer > div {
  align-items: flex-end;
  gap: 0.3em;
  font-size: 2rem;
}
.textContainer p {
  padding-bottom: 0.2em;
}
.textContainer > div:last-child {
  display: flex;
  gap: 0.5em;
}
.textContainer h2 {
  font-size: 2.3rem;
  padding-bottom: 0.28em;
}

.welcome {
  display: flex;
  align-items: center;
  height: 80vh;
  margin-bottom: 20vh;
}
.welcome div {
  background: radial-gradient(
    ellipse at bottom,
    #fff,
    transparent,
    transparent
  );
  background-position: 50% 100%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  font-family: "Playfair Display", serif;
  animation: reveal 2000ms ease-in-out forwards 200ms,
    glow 2000ms linear infinite 2000ms;

  transition: opacity 1s ease-out 2s;
}
.welcome.hidden div {
  opacity: 0;
}
.textContainer > div {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.textContainer span + span {
  margin-left: 0.35em;
}
.textContainer span,
.textContainer h1,
.textContainer p {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.textContainer > div:first-child p {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textContainer > div:first-child span:first-child {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.textContainer > div:first-child span:last-child {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textContainer > div h1 {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textContainer > div:last-child h2 span:first-child {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textContainer > div:last-child h2 span:nth-child(2) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textContainer > div:last-child h2 span:last-child {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.topSkills {
  padding: 0.6em;
  margin-top: 1rem;
  backdrop-filter: blur(80px);
  display: flex;
  border-radius: 12px;
  flex-wrap: wrap;
  max-width: 90dvw;
  justify-content: space-evenly;
  border: 2px solid white;
  animation: blur-in 1s ease-in-out alternate;
}
.topSkills div {
  border: 2px solid white;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes blur-in {
  0% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes dimension {
  0% {
    transform: rotateX(-90deg);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px) scaleY(0.1);
  }
  70% {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1024px) {
  .detailsContainer {
    gap: 1.5rem;
  }
  .textContainer > div {
    align-items: flex-start;
    text-align: center;
  }
  .textContainer {
    align-items: center;
  }
  .textContainer > div:last-child {
    text-align: center;
  }
  .textContainer > div:last-child h1,
  .textContainer > div:first-child span:last-child {
    display: none;
  }
}
