.container {
  z-index: 1;
  margin: 7em auto 0;
  width: 80vw;
}
.container h1 {
  font-size: 4rem;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.72);
}
.container ul {
  padding: 3em 1em 3em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 12px 12px 0 0;
  border: 1px solid white;
  backdrop-filter: blur(20px);
}
.container a {
  margin: 0.5em 0.3em 0.5em 0;
  font-family: "Quattrocento", serif;
  font-size: 1.5em;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.72);
  font-weight: 500;
  backdrop-filter: blur(1px);
  text-decoration: none;
  color: white;
  transition: transform 1s ease;
}
.container a:hover,
.container a:focus {
  transform: scale(0.95);
}
.container li {
  display: flex;
  align-items: center;
}
.container img {
  max-height: 1.5em;
  cursor: pointer;
}
.container img:active {
  opacity: 0;
}
.container a img {
  max-height: 2.5em;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90vw;
  }
}
@media screen and (max-width: 570px) {
  .container ul {
    flex-direction: column;
    padding: 2em 1em 4em 2em;
  }
}
@media screen and (max-width: 460px) {
  .container ul {
    justify-content: unset;
    align-items: flex-start;
    gap: 0.8em;
  }
}
