.container {
  margin: 0 auto;
  padding: 3em;
  margin-top: 6rem;
  width: 70%;
  /* border: 2px solid white; */
  backdrop-filter: blur(15px);
  border-radius: 12px;
}
.container > div:first-child {
  border: 2px solid white;
  width: 60%;
  border-radius: 12px;
  padding: 2em;
}
.container h1 {
  font-size: 2.8rem;
}
.container p {
  margin-top: 1em;
  font-size: 1.15em;
  /* width: 55%; */
}
.facts {
  width: 40%;
}

.container p {
  margin-top: 1em;
  font-size: 1.15em;
  white-space: pre-line;
}

.container p span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end) forwards,
    blink-caret 0.5s step-end alternate;
  /* opacity: 0; */
  width: 0;
  line-height: 1.5;
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
